ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  width: 20%;
}
ul.tabs li {
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 0px 21px;
  height: 31px;
  line-height: 31px;
  background-color: #eeeeee;
  color: #ccc;
  overflow: hidden;
  position: relative;
  background: #eee none repeat scroll 0 0;
  border-radius: 0;
  color: #000;
  text-transform: capitalize;
  border-left: 5px solid #eee;
  font-weight: 500;
}
.tab_last {
  border-right: 1px solid #333;
}
ul.tabs li.active {
  background-color: #f26135!important;
  display: block;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #f26135  none repeat scroll 0 0;
  border-color: currentcolor currentcolor currentcolor #000;
  -o-border-image: none;
  border-image: none;
  border-style: none none none solid;
  border-width: medium medium medium 5px;
  color: #fff;
}
.tab_container {
  float: left;
  width: 79%;
  background: #fff;
}
.tab_content {
  padding: 20px;
  display: none;
}
.tab_drawer_heading {
  display: none;
}
@media screen and (max-width: 480px) {
  .tab_container {
    width: 100%;
  }
.tab_last {
  border-right: 1px solid #333;
}
  .tabs {
    display: none;
  }

  .tab_drawer_heading {
    background-color: #666;
    color: #fff;
    border-top: 1px solid #333;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .d_active {
    background-color: #f26135;
    color: #fff;
  }
}